
.table_reserved_draft
{
    background-color: yellow;
    color: black;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}

.table_occupied
{
    background-color: blue;
    color: white;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}

.table_reserved
{
	background-color: orange;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
    cursor:pointer;
}
