
.table_reserved_draft
{
    background-color: #F7CA18;
    color: black;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}

.table_occupied
{
    background-color: #2574A9;
    color: white;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}

.table_reserved
{
	background-color: #F89406;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
    cursor:pointer;
}

.table_free
{
    background-color: white;
    color: black;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}

.table_blocked
{
    background-color: #D91E18;
    color: black;
    text-align: center;
    min-width:100px;
    vertical-align: middle;
    cursor:pointer;
}
